@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Source+Code+Pro:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
:root{

    /* --main-text-color: #cfd3e3;
    --text-color: #c6c6c6;

    --light-dark1: #000000; 
    --light-dark2: #030303;

    --profile: #cdd1e1 ;
    --svg-fill: rgb(215, 215, 215); */

    --theme-color:#147efb;

    --main-text-color: #2d2e32;
    --text-color: #555;

    --light-dark1: #fff; 
    --light-dark2: #f9f9f9;

    --profile: #2d2e32 ;
    --svg-fill: rgb(62, 62, 62);

    --box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

*{
    font-family: 'Raleway', sans-serif;
    transition: background-color .3s ease-in-out;
}
html{
    scroll-behavior: smooth;
}

.theme-color{
    color: var(--theme-color);
}

.text-color-1{
    color:var(--main-text-color);
}
.text-color-2{
    color:var(--text-color);
}

.backg-light-dark-1{
    background-color: var(--light-dark1);
}
.backg-light-dark-2{
    background-color: var(--light-dark2);
}




@keyframes slideX {
    from {
        transform: translateX(var(--axis));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes slideY {
    from {
        transform: translateY(var(--axis));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  