.project{
    height: 500px;
}

.project-img img{
    transform: translateY(0);
    transition: transform 6s ease-in-out;
}
.project-img:hover img{
    transform: translateY(calc(-100% + 500px));
}

.project-language{
    height: 40px;
    width: 40px;
}